* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    color: white;
}

#grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    'sdb cnt cnt cnt cnt'
    'sdb cnt cnt cnt cnt'
    'sdb cnt cnt cnt cnt'
    'ctr ctr ctr ctr ctr';
    grid-template-columns: auto minmax(0,1fr);
}

/* SIDEBAR */

#sidebar {
    grid-area: sdb;
    background-color: black;
    padding: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

#title {
    font-size: 26px;
    margin-bottom: 30px;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-option {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: inherit;
}

.lock {
    width: 23px;
    height: 23px;
}

/* CONTENT AREA */

#content-area {
    grid-area: cnt;
    background-color: #161616;
}

#content-area > * {
    width: 100%;
    height: 100%;
}

#home {
    background-color: green;
}

#reciters {
    background-color: blue;
}

#library {
    background-color: purple;
}

#selected-reciter {
    background-color: grey;
}

.hidden {
    display: none;
}


/* CONTROLLER */

#controller {
    grid-area: ctr;
    background-color: #181818;
    border-top: 1px solid #282828;
    display: flex;
    align-items: center;
}

#left-side-parent, #center-parent, #right-side-parent {
    flex: 1;
}

#left-side-parent {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

#player-controls-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border-radius: 3px;
}

#player-controls {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#player-image-div {
    width: 70px;
    height: 70px;
    background-color: rgb(61, 61, 61);
    border-radius: 3px;
}

#player-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
}

#search-bar-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

#play-pause, #stream-audio {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#youtube-icon {
    width: 80%;
    height: 80%;
}

#info-parent {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#play-previous, #play-next {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#go-back, #go-forward {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
}

.circle-div {
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#playback-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#play-previous img, #play-next img {
    width: 80%;
    height: 80%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert();
}

#go-back img, #go-forward img {
    width: 80%;
    height: 80%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play-previous img, #go-back img {
    transform-origin: 6px 6px;
    transform: rotate(180deg);
}

#play-previous:hover, #play-pause:hover, #stream-audio:hover, #play-next:hover, .circle-div:hover, #go-forward:hover, #go-back:hover {
    cursor: pointer;
}

#loop img {
    width: 80%;
    height: 80%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#heart {
    border: none;
    background-color: transparent;
    width: 25px;
    height: 23px;
    bottom: 40px;
}

#heart img {
    width: 99%;
    height: 100%;
}

#heart:hover {
    cursor: no-drop;
}

#audio-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

#line {
    width: 400px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    height: 100%;
    background: #454545; /* Grey background */
    border-radius: 3px;
}

#filled-line {
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
}

#line:hover > #filled-line {
    background-color: rgb(36, 36, 255);
}

#knob {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

#filled-line > #knob {
    display: inline;
}

#knob:hover {
    background-color: rgb(0, 0, 255);
}

#stream-filled-line {
    width: 100%;
    height: 100%;
    background-color: red;
}

.selected-reciter-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    display: none;
}

.surah-recitation {
    width: 300px;
    height: 40px;
    background-color: rgb(61, 61, 61);
}

#play-previous, #play-next {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#go-back, #go-forward {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
}

.circle-div {
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
